/** ___  breakpoint 中斷點規則放這  ____________________________________________
 * 
 *    統一從這取斷點，此樣式為優雅降級
 * ___________________________________________________________ */

/*		
					s-mob  m-mob   mob  tablet  desktop
			<____320____480____720____800____1170____>

				 _________________________900_1020____
					額外斷點								bp2  bp1
*/
@import "./include-media";

$breakpoints: (
  sPhone: 320px,
  phone: 420px, 
  mPhone: 480px, 
  lPhone: 720px,
  tablet: 900px,
  sDesktop: 1024px, 
  desktop: 1170px
);